.donate {
    h1 {
        font-family: 'Bitter', serif;
        font-weight: 500;
    }

    .support {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
    }

    p {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }

    .quote {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;

        .name {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
        }
    }

    .bottomtext {
        .upper {
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
        }


        a {
            font-family: 'Bitter', serif;
            font-weight: 600;
        }

        .lower {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
        }
    }
}