.events {
    .event1 {
        background: url(/deploy/images/event1.jpg);
        height: 35vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 50%;
    }

    .event2 {
        background: url(/deploy/images/event2.jpg);
        height: 35vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 50%;
    }

    .event3 {
        background: url(/deploy/images/event3.jpg);
        height: 35vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 50%;
    }
}