.events {
    .event1 {
        background: url(/deploy/images/event1.jpg);
        height: 35vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 50%;
    }

    .event2 {
        background: url(/deploy/images/event2.jpg);
        height: 35vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 50%;
    }

    .event3 {
        background: url(/deploy/images/event3.jpg);
        height: 35vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 50%;
    }

    h1 {
        font-family: 'Bitter', serif;
        font-weight: 500;
    }

    h3 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }

    p {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }

    h4 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;        
    }
}