.hero {
    .hero-img {
        background: url(/deploy/images/hero.jpg);
        height: 55vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    h3 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }

    h4 {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }

    @include lg {
        .hero-img {
            height: 70vh;
        }
    }

    @include xl {
        background-color: $lightpink;
    }
    
}