.resources{ 
    .resource1 {
        background: url(/deploy/images/studentresources.jpg);
        height: 45vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .resource2 {
        background: url(/deploy/images/parentresources.jpg);
        height: 45vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .resource3 {
        background: url(/deploy/images/studentresources.jpg);
        height: 45vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}