/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
    display: grid;
    grid-template-areas: 
        "header"
        "hero"
        "covidinfo"
        "announcements"
        "events"
        "donate"
		"resources"
		"footer";
} 

.header {
	grid-area: header;
	background-color: $wagnerRed;
	padding-bottom: 5px;

	.bottomrow {
		ul {
			display: grid;
			grid-template-columns: repeat(7,1fr);
			grid-template-rows: repeat(2,1fr);
			grid-template-areas: 
				". . . b . . . "
				"a . . b . . c ";
			justify-items: center;
		
			.language {
				grid-area: a;
			}

			.logo {
				grid-area: b;
			}

			.search {
				grid-area: c;
			}
		}
	}
}

.hero {
	grid-area: hero;

	.hero-img {
        background: url(/deploy/images/hero.jpg);
        height: 55vh;
        width: 100%;
        background-size: cover;
    }
}

.footer {
	background-color: red;
}