/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
    display: grid;
    grid-template-areas: 
        "header"
        "hero"
        "covidinfo"
        "announcements"
        "events"
        "donate"
		"resources"
		"footer";
} 

.header {
	background-color: red;
}
