/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

main {
    display: grid;
    grid-template-areas: 
        "header"
        "hero"
        "covidinfo"
        "announcements"
        "events"
        "donate"
		"resources"
		"footer";
} 

.header {
	grid-area: header;
	background-color: $wagnerRed;
	padding-bottom: 10px;

	.bottomrow {
		ul {
			display: grid;
			grid-template-columns: repeat(7,1fr);
			grid-template-rows: repeat(3,1fr);
			grid-template-areas: 
				". . . b . . c "
				"a . . b . . c "
				". . . b . . c ";
			align-items: center;
			justify-items: center;
		
			.language {
				grid-area: a;
			}

			.logo {
				grid-area: b;
			}

			.search {
				grid-area: c;

				.fa-search {
					color: white;
					size: 100vh;
				}
			}

		}
	}
}

.hero {
	grid-area: hero;
}

.footer {
	background-color: red;
}